<p id="notice"><%= notice %></p>

<p>
  <strong>Starsign:</strong>
  <%= @user_profile.starsign %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @user_profile.hobbies %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @user_profile.profile_pic %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user.name %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
